.error{
    color: red;
}

.successfully{
    color: green;
}

.signupForm{
    width: 30%;
    display: flex;
    flex-direction: column;

    label{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 5px;

        .errorMessage{
            color: #f00;
        }
    }
}